/* GLOBAL STYLES *****************************************/
/* body {
    background-color: black;
} */
.buttonsDiv .btn {
    margin: 1rem 1rem 0 0;
}
.form .col-md-6 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
}
.card-columns {
    margin-top: 1rem;
}